<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id=title>
        <h1 id="wide">ADVICES</h1>
        <h2 id="small">FROM THE</h2>
        <h1>SERVER ROOM</h1>
    </div>
    <div class="container">
        <div id="text">
            <h2 id="rand_id"></h2>
            <p class="advice" id="advice"></p>
        </div>
    </div>
    <script src="static/js/script.js"></script>
</body>
</html>